<div class="container-landing">
  <div class="landing-about-text">
    Dobrodošli na našu
    <span class="highlight">
      platformu posvećenu pomoći stranim studentima </span
    >, posebno onima iz Bosne i Hercegovine, u procesu
    <span class="highlight">nostrifikacije diploma u </span
    ><span class="highlight">Republici Hrvatskoj.</span>
    <br />
    <br />
    Ovaj projekat ima u cilju
    <span class="highlight">olakšati Vam proces</span> priznavanja inozemne
    diplome u Hrvatskoj.
    <br />
    <br />
    Ovdje možete pronaći, kako
    <span class="highlight">materijale i pitanja</span> potrebne za spremanje
    ispita, tako i neke
    <span class="highlight">savjete i iskustva </span>prikupljena od studenata.
    <br />
    <br />
    U slučaju da imate dodatne materijale ili savjete koje bi ostavili kolegama,
    <span class="highlight">slobodno nas kontaktirajte</span> kako bi to učinili
    mogućim.
  </div>
</div>
