<div class="container-landing">
  <div class="landing-about-text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam doloribus
    reprehenderit maxime ab eveniet quaerat quis non? Perspiciatis qui
    laudantium sunt fugit ipsam, corporis beatae deserunt omnis necessitatibus!
    Culpa, consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quisquam, similique fuga architecto, molestias ea blanditiis provident
    accusantium pariatur aspernatur totam iusto officiis sapiente exercitationem
    cupiditate laboriosam a debitis officia neque.
  </div>
  <div class="landing-background-img"></div>
  <!-- <img
    class="landing-background-img"
    src="../../../assets/images/background/stethoscope.jpg"
    alt="Stethoscope"
  /> -->
</div>
