::ng-deep .container-landing {
  display: flex;
  height: 82vh;
  justify-content: center;
}

.landing-about-text {
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  letter-spacing: 3px;
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
