.constainer-nav-bar-search {
  display: flex;
  border: solid aqua;
  justify-content: space-around;
  width: 30rem;
  margin-left: 18vw;
}

.nav-bar-search-input {
  width: 60%;
  height: 25px;
  border-radius: 5px;
}

.nav-bar-search-btn {
  width: 12%;
  border-radius: 5px;
}
