<div class="container-main-classes">
  <div class="main-classes-items" [ngClass]="{ 'column-layout': selectedItem }">
    <div
      *ngFor="let item of classes"
      class="main-classes-item"
      [ngClass]="{ 'selected-item': selectedItem === item }"
      (click)="selectItem(item)"
    >
      <div class="main-classes-image">
        <img class="main-classes-image" [src]="item.img" alt="Image" />
      </div>
      <div class="main-classes-class-name">{{ item.className }}</div>
      <div class="main-classes-class-professor">{{ item.professor }}</div>
    </div>
  </div>
  <div class="additional-info" *ngIf="selectedItem">
    <button class="close-btn" (click)="closeAdditionalInfo()">x</button>
    <div>Selected Item: {{ selectedItem.className }}</div>
  </div>
</div>
