<div class="container-main-classes">
  <div class="main-classes-items" [ngClass]="{ 'column-layout': selectedItem }">
    <div
      *ngFor="let item of classes"
      class="main-classes-item"
      [ngClass]="{ 'selected-item': selectedItem === item }"
      (click)="selectItem(item)"
    >
      <div class="main-classes-image">
        <img class="main-classes-image" [src]="item.img" alt="Image" />
      </div>
      <div class="main-classes-class-name">{{ item.className }}</div>
      <div class="main-classes-class-professor">{{ item.professor }}</div>
    </div>
  </div>
  <div class="additional-info" *ngIf="selectedItem">
    <span class="close-btn" (click)="closeAdditionalInfo()"> &times; </span>
    <h1 class="additional-info-name">
      {{ selectedItem.className }}
    </h1>
    <div
      class="additional-info-description"
      *ngFor="let details of selectedItem.description"
    >
      <h3>Tip ispita: {{ details.exam }}</h3>
      <h3>Ispitivač: {{ details.professor }}</h3>
      <h3>Iskustva: {{ details.tips }}</h3>
    </div>
    <div
      *ngIf="selectedItem.notes.length"
      class="additional-info-description-header"
    >
      Stvari na koje treba obratiti pažnju:
    </div>
    <div *ngFor="let note of selectedItem.notes" class="additional-info-notes">
      {{ note }}
    </div>
    <div class="additional-info-download-header">
      Ovdje možete preuzeti potrebne materijale >
    </div>
    <div
      *ngFor="let downloadUrl of selectedItem.materialDownloadURLs"
      class="additional-info-download"
    >
      <a
        class="additional-info-download-urls"
        [href]="downloadUrl.url"
        target="_blank"
        >{{ downloadUrl.label }}</a
      >
    </div>
  </div>
</div>
